server {
  listen 443 ssl;
  server_name _;
  root /usr/share/nginx/html;
  index index.html;

  ssl_certificate     ${NGINX_SSL_CERT_PATH};
  ssl_certificate_key ${NGINX_SSL_KEY_PATH};

  location / {
    try_files $uri $uri/ /index.html;
  }
}
